:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --black: #131313;
  --dark-gray: #242424;
  --dark-gold: #ffbf00;
  --gold: #f5bf03;
  --link: #646cff;
  --white: rgba(255, 255, 255, 0.87);
  --h1: 7.067rem;

}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--white);
  background-color: var(--secondary);
}

.dark {
  --primary: var(--black);
  --secondary: var(--dark-gray);
}

.gold{
  --primary: var(--dark-gold);
  --secondary: var(--gold);
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
}

a:hover {
  color: var(--link);
}


h1 {
  margin-top: 0;
  font-size: 5rem;
  line-height: 1.1;
  display: block;
  text-align: center;
  background-color: var(--primary);
}

#container {
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem auto;
}

.card {
  position: relative;
  width: 22%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem auto;
  flex-basis: auto;
  border: rgba(0, 0, 0) solid 3px;
  border-radius: 20px;
}

#form {
  font-size: 1.4rem;
}

#submit {
  display: block;
}

.display-name {
  font-size: 2rem;
}

.agent-type {
  font-size: 1.4rem;
}

.description {
  font-size: 1rem;
}

@media screen and (max-width: 1300px) {
  .card {
    width: 27%;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 90%;
  }
}